<div class="banner ">
  <div class="container mx-auto" style="width: 600px;">
  <h1>Looking for cocktail recipes?</h1>
  <h3>Browse 200+ recipes</h3>
  <div class="mx-auto" style="width: 350px;">
  <form class="form-inline justify-content-center my-4">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-warning my-2 my-sm-0" type="submit">Search cocktails</button>
  </form>
  </div>
  </div>

</div>
