<section class="banner">
  <div class="container mx-auto" style="width: 600px;">
    <h1>Looking for cocktail recipes?</h1>
    <h3>Browse 200+ recipes</h3>
    <%= render 'shared/search_bar' %>
  </div>

</section>
