<nav class="navbar home-navbar fixed-top">
  <div class="m-3">
    <i class="fas fa-cocktail"></i>
    <a class="">CocktailBook</a>
  </div>
  <button type="button" class="btn btn-warning m-3"><%= link_to 'Add cocktail', new_cocktail_path %> </button>

</nav>
